@require '~vuepress-plugin-tabs/dist/themes/default.styl'
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700')

html, body
  font-family: 'Avenir', Helvetica, Arial, sans-serif

.endpoints
    border: none
    box-shadow:  0px 3px 12px rgba(57, 61, 59, 0.30)
    border-radius: 6px
    margin-bottom: 28px
    & .header
        border: none
        background-color: darken($codeBgColor, 15%)
        border-top-left-radius: 6px
        border-top-right-radius: 6px
        color: lighten($textColor, 65%)
        padding: 8px
        padding-left: 16px
        text-transform: uppercase
    & .content
        padding: 16px
        background-color: $codeBgColor
        border-bottom-left-radius: 6px
        border-bottom-right-radius: 6px

.endpoint .method
    display: inline-block
    width: 45px
    text-transform: uppercase
    &.POST
        color: #FFA72D
    &.GET
        color: #19a539

.endpoint .url
    color: $accentColor

table
    width:100%
    table-layout: fixed
    display: table
    border-style: hidden;

thead
    background-color: $codeBgColor
    color: #ccc

tbody
    background-color: lighten($codeBgColor, 15%)
    color: #ccc
    & tr
        background-color: lighten($codeBgColor, 15%)

td, th 
    overflow: scroll;

table tr:last-child td:first-child 
    border-bottom-left-radius: 6px

table tr:last-child td:last-child 
    border-bottom-right-radius: 6px

table tr:first-child th:first-child 
    border-top-left-radius: 6px

table tr:first-child th:last-child 
    border-top-right-radius: 6px

.api-example-response-header
    position: relative
    z-index: 1
    margin-bottom: -1.25em
    padding: 6px
    padding-left: 12px
    border-top-left-radius: 6px
    border-top-right-radius: 6px
    background-color: lighten($codeBgColor, 15%)
    color: lighten($textColor, 45%)
    text-transform: uppercase

.api-example-response [class*="language-"] 
    background-color: lighten($codeBgColor, 25%)
    color: lighten($textColor, 45%)
    
.tabs-component-tabs
    justify-content: flex-end
    background-color: darken($codeBgColor, 15%)
    border-top: none 
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

.tabs-component-tab
    background-color: darken($codeBgColor, 15%)
    color: lighten($textColor, 45%)
    margin: 0
    border: none
    &:hover:not(.is-active)
        color: lighten($textColor, 65%)
    &.is-active
        background-color: $codeBgColor

.tabs-component-panels
    padding: 0
    border: none
    border-radius: 6px
    border-top-left-radius: 0
    border-top-right-radius: 0
    & .tabs-component-panel [class*="language-"] 
        margin: 0
        border-top-right-radius: 0
        border-top-left-radius: 0

.code-copy svg
    margin-top: 1.5em
.code-copy span
    margin-top: 1.75em