// colors
$accentColor = #38D47F
$textColor = #545E58
$borderColor = #eaecef
$codeBgColor = #4A5568
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$boxShadow = 0px 3px 12px rgba(57, 61, 59, 0.30)

$nightBgcolor ?= #2a2a2a
$nightFontcolor ?= #c0c0c0
$nightBordercolor ?= #151310

$darkBoxShadow = 0px 3px 12px rgba(57, 61, 59, 0.30)