// colors
$accentColor = #38D47F
$textColor = #545E58
$borderColor = #eaecef
$codeBgColor = #4A5568
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
